* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 84% 8%;
    grid-template-columns: 3fr 2fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

header h1 span {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 158, 255);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#boardGame {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 60%;
    height: 80%;
}

.square {
    background-color: white;
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

aside {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: grid;
    gap: 8px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    background-color: rgb(22, 158, 255);
    width: 80%;
    height: 80%;
}

.controls button {
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    font-size: x-large;
}

.controls button:hover {
    background-color: rgb(68, 161, 238);
    cursor: pointer;
    transform: scale(1.015);
}

#executeBtn {
    grid-column: 1 / 3;
    background-color: rgb(0, 94, 173);
}

#executeBtn:hover {
    background-color: rgba(0, 94, 173, 85%);
    transform: scale(1.015);
}

.display {
    grid-column: 1 / 3;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 10px;
    font-size: large;
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(23, 146, 234);
    width: 80%;
    position: absolute;
}
#displayMain {
    background-color: rgb(200, 200, 200);
}
#displayProc1 {
    background-color: rgb(220, 220, 220);
}
#displayProc2 {
    background-color: rgb(240, 240, 240);
}
