* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    height: 100vh;
    display: grid;
    grid-template-rows: 8% 68% 16% 8%;
    grid-template-columns: 2.5fr 2fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

header h1 span {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 158, 255);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
    height: 80%;
}

.square {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square i {
    font-size: 60px;
    color: black;
}

.controls {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.controls button {
    padding: 25px;
    margin: 0 10px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgb(23, 146, 234);
    font-size: 25px;
}

.controls button:hover {
    background-color: rgb(68, 161, 238);
    cursor: pointer;
    transform: scale(1.015);
}

aside {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.display {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 90%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    font-size: large;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(23, 146, 234);
    width: 95%;
}

.display p {
    color: white;
}

.display p:nth-of-type(1){
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.display p:nth-of-type(2) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.display p:nth-of-type(3) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.display span {
    padding: 10px;
}

#displayMain {
    background-color: rgb(200, 200, 200);
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    color: white;
    font-size: 60px;
}

#displayMain i {
    display: inline-block;
    padding: 10px;
}

#displayP1 {
    background-color: rgb(200, 200, 200);
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    color: white;
    font-size: 60px;
}

#displayP1 i {
    display: inline-block;
    padding: 10px;
}

#displayP2 {
    background-color: rgb(200, 200, 200);
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    color: white;
    font-size: 60px;
}

#displayP2 i {
    display: inline-block;
    padding: 10px;
}

.playResetSkip {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
}

.playResetSkip button {
    margin: 0 10px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: x-large;
    background-color: rgb(0, 94, 173);
    cursor: pointer;
    width: 100%;
    font-size: 34px;
}

.playResetSkip button:hover {
    background-color: rgba(0, 94, 173, 85%);
    transform: scale(1.015);
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    background-color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}