* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

header h1 {
    text-align: center;
    margin: 20px 0 100px 0;
}

header h1 span {
    color: yellow;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

#boardGame {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 0fr);

}

.square {
    background-color: white;
    width: 75px;
    height: 75px;
    border: 4px solid black;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
}